# package
node_modules/
npm-debug.log

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# log
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# build
.vulppi/
build/
dist/
*.gem
*.egg

# temporary
*.swp
*temp/
*tmp/

# test
coverage/
.nyc_output/

# typescript
*.tsbuildinfo
